{% extends 'base.html' %}

{% block titulo %}
    Agregar contactos
{% endblock %}

{% block content %}

{% with mensajes = get_flashed_messages() %}
{% if mensajes %}
{% for mensaje in mensajes %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{mensaje}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
<form class="w-50 m-auto d-flex flex-column align-content-center m-2" action="/agregarcontacto" method="post">
    <input class="form-control" type="text" name="nombre" placeholder="Nombre" onfocus="">
    <input class="form-control" type="text" name="apellido" placeholder="Apellido">
    <input class="form-control" type="text" name="telefono" placeholder="Telefono">
    <input class="form-control" type="text" name="correo" placeholder="Email">
    <button class="btn btn-primary w-auto mt-2" type="submit">
        Guardar
    </button>
</form>
<table class="table mt-4 w-75 m-auto">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Telefono</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for contacto in contactos %}
            <tr>
                <td>{{contacto.1}}</td>
                <td>{{contacto.2}}</td>
                <td>{{contacto.3}}</td>
                <td>{{contacto.4}}</td>
                <td><a class="btn btn-info" href="/actualizar/{{contacto.0}}">Editar</a></td>
                <td><a class="btn btn-danger" href="/eliminar/{{contacto.0}}">Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

    
{% endblock %}